/* =========================
Main CSS file for Discuz! Mobile
Powered by www.shangxuepai.com / www.lovediscuz.com
========================= */




/* --------------------- head ---------------------- */
.header{height:.95rem;background:#E20001;position:relative;}
.headul { position:absolute;right:0;}
.header h1 {width: 3rem;height: .95rem;line-height: .95rem;text-align: center;font-size: .36rem;color: #fff;font-weight: normal;}
.header h1 img {height: 100%;}
.header em { font-weight:normal;display: inline-block;}
.header .menu2 {width: .78rem;height: .95rem;line-height: .95rem;overflow: hidden;margin-right:.1rem; }
.header .menu2 img { width: .68rem;height: .68rem;border-radius: 50%;margin-top: .14rem;vertical-align: top;}
.header .menu1,.header .menu3,.header .menu4 {width: .78rem;height: .95rem;line-height: .95rem;background-size: 80% auto !important;text-indent: -9999px;overflow: hidden;color: #fff;font-size: .28rem;}
.header .menu1 {background: url(../sxpicon_1.png) no-repeat scroll center center;}
.header .menu3 {background: url(../sxpicon_2.png) no-repeat scroll center center;}
.header .menu4 {background: url(../sxpicon_4.png) no-repeat scroll center center;}
.header .menu1 img,.header .menu3 img,.header .menu4 img{width:.68rem;height:.68rem;border-radius:50%;margin-top:.1rem;}
.header .menu5 {width: .55rem;height: .5rem;line-height: .5rem;margin-top: .22rem;background:#B10102;border-radius:5%;overflow: hidden;color: #FFF;font-size: .26rem;padding-right:.2rem;padding-left:.2rem;margin-right:.2rem;margin-left:0;text-align:center;}
.header .menu6 { margin-right:.05rem;}
/* ======== headmenu ======= */
.headermenu {height:.95rem;background:#E20001;position:relative;}
.headermenu .nav_1 { width:.95rem;height:.95rem;margin-left:.05rem;}
.headermenu .nav_1 img { width:.65rem;height:.65rem;margin:.15rem;}
.headermenu h1 { width: 4rem;height: .95rem;line-height: .95rem;margin: 0 auto;text-align: center;font-size: .36rem;color: #fff;font-weight: normal;}
.headermenu span {width: 2.5rem;height: .95rem;float:right;}
.headermenu span img { height:100%;}
.headermenu .iconmessage { width: 1rem;height: .95rem;line-height: .95rem;background-size: 80% auto !important;text-indent: -9999px;overflow: hidden;color: #fff;font-size: .28rem;background: url(../iconmessage.png) no-repeat scroll center center;}
/* ======== login ======= */
.login_from{padding:1rem .5rem;}
.login_from li,.post_msg_from li{margin-bottom:.2rem;}
.inp,.login_select,.login_from .sec_code .txt,.post_from .sec_code .txt{width:100%;padding:.1rem;border:solid 1px #ebebeb;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;border-radius:2px;background:#fff;height:.8rem;line-height:.6rem;font-size:.28rem;}
.login_select{background:#fff url(../pageIcon.png) 96% center no-repeat !important;background-size:.26rem auto !important;position:relative;}
.sel_list{position:absolute;top:0;left:0;width:100%;height:.8rem;border:none;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.login_from .sec_code,.post_from .sec_code{position:relative;}
.login_from .sec_code .txt,.post_from .sec_code .txt{width:100% !important;}
.login_from .sec_code .seccodeimg,.post_from .sec_code .seccodeimg{position:absolute;top:5px;right:5px;height:.6rem;width:2rem;}
/* ==== tishi web ==== */
.jump_c{padding:1rem .4rem;text-align:center;}

/* ==== out widows ==== */
.tip{width:6rem; background:#fff; margin:0 auto; border:1px solid #dfdfdf; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; text-align:center;}
.tip dt {padding:.6rem .4rem; font-size:.3rem;}
.tip dd {background:#FFF; border-top:1px solid #dfdfdf;padding:.2rem 0;}
.tip dd .button2{font-size:.28rem;height:.6rem;line-height:.6rem;padding:0 .3rem;text-align:center;color:#fff !important;background:#E20001;border:none;display:inline-block;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.tip dd a{margin-left:15px;}
.del_tips{color:#f30;font-size:.32rem;padding:.4rem .2rem .8rem;text-align:center;}
/* ======== search ======= */
.search{padding:.3rem;padding-top:.5rem;background:#fff;border-top:solid 1px #ebebeb;border-bottom:solid 1px #ebebeb;}
.scbar_btn_td{margin-top:.2rem;}
.thread_tit{font-size:.3rem;height:.8rem;line-height:.8rem;padding:.0 .3rem;}
.searchList ul{margin:0;}
.searchList li a{line-height:.4rem;padding:.2rem .3rem;border-bottom:solid 1px #ebebeb;display:block;font-size:.3rem;}
.searchList li:last-child a{border-bottom:none;}
.noback{position:relative;display:block;padding:.1rem .3rem .4rem .3rem;}
/* ======== foot ======= */
.footer { text-align:center;color:#999; padding:2rem 0 0 0;font-size:.24rem; }
.footer a { margin:0 .15rem; color:#999; }
.sxpfooter { padding:.3rem 0;background:#FFF;}
.sxpfooter a,.sxpfooter p { font-size:.24rem;color:#999;line-height:.6rem;}
.sxpfooter #footone {color:#CCC;margin:0 .02rem;}
.sxpfooter #foottwo {background:#FFF;}
/* ======== user ======= */
.user_avatar{padding-top:.5rem;padding-bottom:.5rem;background:#FFF7F7;}
.avatar_m{width:1.6rem;height:1.6rem;overflow:hidden;border-radius:50%;margin:0 auto;}
.user_avatar h2{font-size:.36rem;color:#444;text-align:center;font-weight:normal;margin-top:.1rem;}
.user_avatar h2 span{font-size:.24rem;margin-left:.2rem;}
.myinfo_list{background:#fff;}
.myinfo_list li a{height:.4rem;line-height:.4rem;padding:.3rem .4rem;border-bottom:solid 1px #ebebeb;font-size:.3rem;display:block;position:relative;}
.myinfo_list li a span { display: block;float: left;background-image: url(../myinfo_list.png);background-repeat: no-repeat;background-size: .4rem 3.6rem;width: .4rem;height: .4rem;margin-right: .1rem;}
.myinfo_list .myinfo_1 a span {background-position: 0 0;}
.myinfo_list .myinfo_2 a span {background-position: 0 -0.8rem;}
.myinfo_list .myinfo_3 a span {background-position: 0 -1.6rem;}
.myinfo_list .myinfo_4 a span {background-position: 0 -2.4rem;}
.myinfo_list li a::after{border: 1px solid #8e8e8e;border-top: 0;border-left: 0;background-color: transparent;content: "";width: .1rem;height: .1rem;margin-top: -.05rem;position: absolute;right:5%;top: 50%;-webkit-transform-origin: center center;-webkit-transform: rotate(-45deg);}
.userInfoNv,.userProfile{padding-bottom:1.6rem;}
.userInfoNv p,.userProfile p{margin:.5rem .5rem 0;}
.userProfile .myinfo_list li a::after{display:none;}
.userProfile .myinfo_list li span{height:.4rem;font-size:.24rem;line-height:.4rem;text-align:center;background:none;border-radius:50%;display:block;position:absolute;right:.4rem;top:50%;margin:-.2rem 0 0 0;}

.fav_list li,.coll_list li{padding:.2rem .3rem;background:#fff;border-bottom:solid 1px #ebebeb;}
	.favTit{font-size:.3rem;line-height:.44rem;}
.fav_list p,.fav_list p a{color:#aaa !important;font-size:.24rem;}
.post_msg_from{margin:.5rem .3rem;}

.pmbox{margin:0;}
.pmbox li:last-child a{border:none;}
.pmbox li a{margin-bottom:.1rem;border-bottom:solid 1px #ebebeb;padding:.16rem .3rem .16rem 1.5rem;position:relative;display:block;min-height:1rem;}
.avatar_img {width:1rem;height:1rem;border-radius:.1rem;float:left;margin-right:.2rem;overflow:hidden;position:absolute;top:.16rem;left:.3rem;}
.avatar_img img{width:1rem;height:1rem;}
.pmbox li .time{color:#ccc;font-size:.24rem;background:none;}
.pmbox li .grey{color:#999;width:100%;font-size:.24rem;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;width:100%;}
/* ======== forum index ======= */
.container {margin-top:.2rem;padding:.2rem;}
.catlist{width:100%;margin-bottom:.2rem;background:#fff;border:solid 1px #E20001;}
	.subforumshow{height:.8rem;line-height:.8rem;background: -webkit-linear-gradient( top,#FFF1F1,#FFF1F1);background:-moz-linear-gradient( top,#FFF1F1,#FFF1F1); background: linear-gradient( top,#FFF1F1,#FFF1F1);border-bottom:solid 1px #E20001;padding:0 .2rem;overflow:hidden;}
	.subforumshow h2{ font-size:.28rem;font-weight:normal;color:#E20001;}
	.subforumshow .o{width:.8rem;height:.8rem;}
	.subforumshow .o img{width:100%;}
.sub_forum li{padding:.3rem .3rem .3rem 1.3rem;position:relative;border-bottom:solid 1px #eee;}
.sub_forum li .f_icon{width:.8rem;position:relative;margin-left:-1rem;float:left;}
.sub_forum li .f_icon img{border-radius:.1rem;}
	.forum_a{display:block;}
	.forum_a h3{font-size:.28rem;/*font-weight:normal;*/line-height:.56rem;}
	.forum_a h3 .num,#ttp_all .num{font-size:.28rem;color:#f60;margin-left:.2rem;}
	.forum_a h3 .f_count{font-size:.24rem;color:#999;line-height:.42rem;margin-top:.1rem;}
	.forum_a h3 .new_tie { font-weight:normal;color:#E20001;padding:0rem .1rem;font-size:.28rem;}
	.forum_a p{color:#999;font-size:.24rem;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;width:100%;}

.sxp_tongji { margin-bottom:.2rem;background:#FFF;width:100%;border:1px solid #E20001;height:2.1rem;}
.sxp_tongji li { width:38%;margin-top:.3rem;margin-left:8%;height:.6rem;line-height:.6rem;text-align:center;background:#FFF7F7;color:#E20001;font-size:.26rem;float:left;overflow:hidden;}
.sxp_tongji li em { font-weight:normal;}

.sxpmain_body { font-size: 14px;border: 1px solid #E20001;margin:0 0 .2rem 0;}
.sxpmain_body ul li { height: .54rem;line-height: .54rem;width:100%;overflow:hidden;}
.sxpmain_body ul li a { color: #555;text-decoration: none;font-size:.26rem;}
.sxpmain_body em {padding: 0;width: .38rem;height: .38rem;line-height: .38rem;display: inline-block;text-align: center;margin-right: .15rem;
color: #fff;font-family: arial,sans-serif;border-radius: 2px;background: #666;}
#bac1 {background: #f36;}
#bac2 {background: #69c;}
.sxpmain_body_h1 {background: #fff1f1 url("../toutiao.png") no-repeat top left;border-bottom: 1px solid #E20001;padding: .3rem .6rem;}
.sxpmain_body_h1 h1 {font-size: .36rem;text-align: center;margin-bottom:.15rem;overflow;hidden;}
.sxpmain_body_h1 h1 a { color: #e20001;}
.sxpmain_body_h1 p { color: #666;font-size:.24rem;}
.sxpmain_body_area {padding: .2rem;}
/* ======== forumdisplay zhuti fenlei ======= */
.sxpthread_type {width:100%;padding-bottom:.2rem;background-color: #fff;border-bottom: 0 none;overflow: hidden;display:block;margin-bottom:.2rem;}
.sxpthread_type a {  background-color: #f0f0f0;text-align:center; color: #444; -moz-border-radius:10%; -webkit-border-radius:10%; border-radius:10%;margin-left:.2rem;margin-top:.2rem;line-height: .34rem;padding:.1rem .14rem;font-size:.24rem;float:left;} 
.sxpthread_type a.a  { background:#E20001;color:#FFF;}

/* ======== forumdisplay body ======= */
.sxp_threadlist{}
.cl {zoom: 1;}
.sxp_threadlist li{ border-bottom:1px solid #EBEBEB; padding:.2rem; background:#fff;}
.sxp_threadlist li a { display:block;}
.sxp_threadlist li.d{ background:#FAFAFA;}
.sxp_threadlist li img.sxp_cover{ float:left; margin-right:.16rem;width:1.8rem; height:1.4rem;}
.sxp_threadlist li img.sxp_threadico{ vertical-align:middle; margin-right:5px;}
.sxp_threadlist li h3{ font-size:.28rem;max-height:.9rem; line-height:.45rem;overflow:hidden;font-weight:normal;}
.sxp_threadlist li h3 a{ color:#444;}
.sxp_threadlist li p{ color:#999; height:.4rem; overflow:hidden; line-height:.4rem; font-size:.24rem;font-weight:normal;background:url(../sxpicon_100.png) no-repeat scroll left center;background-size:.36rem auto;padding-left:.32rem;margin-top:.1rem;}
.sxp_threadlist li p em { float:right;font-weight:normal;background:url(../sxpicon_101.png) no-repeat scroll left center;background-size:.28rem auto;padding-left:.32rem;}
.sxp_notie { height: .9rem; line-height: .9rem;font-size: .28rem;width: 4rem;margin: 0 auto;margin-top:.6rem;color: #E20001; background: #FFF7F7;border: none;border-radius: 5%;text-align:center; }
/* ======== forumdisplay body picture ======= */
.sxp_waterfall{padding:.2rem .1rem;}
.waterfall {position:relative;}
.waterfall .picthread{width:49.9%;float:left;}
.picthread a,.pollItem{margin:.1rem;padding-bottom:.1rem;background:#fff;display:block;}
.picthread .img img{width:100%;}
.picthread .img .no_pic {display:block; background:url(../nophototiny.png) no-repeat 50% 50%; cursor: pointer;height:3rem;}
.picthread h3{font-size:.28rem;padding:.1rem;line-height:.36rem;font-weight:normal;/*overflow:hidden;text-overflow: ellipsis;white-space: nowrap;*/}
.picthread .desc{color:#aaa;padding:0 .1rem;line-height:.36rem;font-size:.24rem;}
.picthread .desc span span{margin-left:.1rem;}
.picthread .desc span.picviews,.picthread .desc span.picreplies{padding-left:.3rem;}
.picviews{background:url(../picviews.png) 0 0 no-repeat;}
.picreplies{background:url(../picreplies.png) 0 0 no-repeat;}
.picviews,.picreplies{height:.3rem;line-height:.3rem;padding-left:.5rem;background-size:contain;display:inline-block;}

/* ======== viewthread menu head ======= */
.sxpnav{ text-align:left;height:.95rem;line-height:.95rem;font-size: .36rem;overflow:hidden;background:#E20001;}
.sxpnav .nav_1 { margin-left:.15rem;margin-right:.15rem;}
.sxpnav .name {display: inline-block;color:#FFF;overflow: hidden;white-space: nowrap;padding-right:.36rem;height:.95rem;}
.sxpnav img { width:.65rem;height:.65rem;margin:.15rem 0;}
.sxpnav #replyid img {width:.85rem;height:.85rem;margin:.05rem 0;margin-left:-.1rem;}

.sxpnav .icon_edit { background: url(../sxpicon_9.png) no-repeat scroll center center;overflow:hidden;margin:.08rem 0 .07rem;background-size:.65rem auto !important;width:.8rem;height:.8rem;padding:0 .1rem;  }
.sxpnav .favbtn {width:.65rem;height:.95rem;overflow:hidden;}
.sxp_bkone .bkone3 { background:#FF7700;}
.sxpbtn_login .pn, .sxpbtn_register .pn,.sxpjump .grey,.sxpjump #jump_2,.btn_exit a{background:#FF6600;}
.btn_login .pn:hover, .btn_register .pn:hover,.btn_exit a:hover {background:#FF7700;}
/* ======== forumdisplay menu head ======= */
.sxpnav .subname_list {position: absolute;top: .95rem;left:0;min-width:2.4rem;opacity:.95;text-align:center;}
.sxpnav .subname_list ul { background: #333;width:100%;  font-size: .24rem;padding: 0;line-height: .7rem;margin: 0 auto;}
.sxpnav .subname_list li {border-bottom:1px solid #1a1a1a;}
.sxpnav .subname_list a {display: block;white-space: nowrap;overflow: hidden;color:#FFF;}
.sxpnav .sxpname2 { background: url(../icon_arrow_down.png) no-repeat scroll right center;background-size:.36rem auto !important;}
/* ========viewthread title======= */
.ssxp_viewthread_top{ background:#fff; padding-bottom:.2rem; border-bottom:1px solid #ddd;margin-bottom:.2rem;}
.ssxp_viewthread_top img{ float:left; margin-right:.12rem; vertical-align:middle; width:.96rem;border-radius:50px;}
.ssxp_viewthread_top h3{ font-weight:bold; font-size:.34rem; line-height:.48rem; padding:0;}
.ssxp_viewthread_top p{ color:#a5a5a5;font-size:.24rem;line-height:.48rem;}
.ssxp_viewthread_top p a{ color:#a5a5a5;font-size:.24rem;line-height:.48rem;}
/* ========viewthread body======= */
.sxp_plc { margin:0px;border-bottom:1px solid #EEE;overflow: hidden;position: relative;}
.sxp_plc .pi { margin-right: 0;margin-left:0;padding: 7px 0;position: relative;}
.sxp_plc .pi .message {font-size: .28rem;line-height:.44rem;}
.sxp_plc  .pi .authi { padding-bottom: 10px;padding-left:65px;position: relative;}
.sxp_plc  .pi .authi .rela { font-size:.24rem;line-height:.4rem;}
.sxp_plc .avatar {left:0;position: absolute;top: 9px;display: inline;}
.sxp_plc .pi .authi li em {float: right;font-style: normal;font-size:.24rem;color:#CCC;}
.sxp_plc .pi .authi li em a {font-style: normal;font-size:.24rem;color:#CCC;}
.sxp_plc .avatar img {border: 0;padding: 0;}
.sxppost_from { padding:10px;}
.sxppost_from li { margin-right:0;background:#FFF;border-radius:5px;margin-bottom:10px;padding:0 10px;}
.sxpfatie { background:#FFF;padding:10px;border-radius:10px; }
.sxpview_postlist { padding:10px;background:#FFF;}
.sxpview_list { background:#FFF;padding:10px;}
.sxpview_list h2 { margin:0;padding-bottom:10px;border-bottom:1px solid #EEE; font-size: 1.7em;}
.sxp_fastpost { padding-right:3px;}
.sxp_fastpost .input { height:50px;}
.sxp_fastpost #sxppost0 { margin-bottom:10px;}
.sxp_message { padding-left:65px;}

.sxp_plc .pi .message img, .sxp_plc .pi .img_one img {max-width: 100% !important;}
.rePostIcon a{display:block;width:.6rem;height:.6rem;float:left;margin-right:.3rem;text-indent:-9999px;}
.replyCom { margin-top:1rem;}
.replyCom .fastpost .btn1{height:.6rem;line-height:.6rem;}
.rePostIcon a.itBtn{background-image:url(../posttu.png);background-repeat:no-repeat;background-size:.6rem .6rem;}
.fastpost .sec_code{height:.72rem;position:relative;}
.fastpost .sec_code .txt{width:100% !important;border:solid #e4e4e4 1px;padding:.2rem;height:.72rem;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;border-radius:2px;}
.fastpost .sec_code .seccodeimg{position:absolute;top:3px;right:3px;bottom:3px;border-radius:3px;height:.6rem;width:2rem;}
.dialogbox .button { width:.8rem; height:.5rem; color:#FFF; background:#F80; margin:0 5px; border:0; font-size:.24rem;line-height:.5rem; }

	
.btViewpost {padding:0 0 0 .15rem!important;height:1rem !important;}
.btViewpost .viewBtn{border:solid 1px #ddd;height:.6rem;line-height:.6rem;margin-top:.2rem;border-radius:.6rem;font-size:.28rem;width:50%;float:left;display:block;padding-left:.2rem;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;color:#999;}
.btViewpost table{float:right;width:49%;text-align:center;line-height:.3rem;}
.btViewpost .sxp_view_back{width:.6rem;margin:0 auto;font-size:.24rem;display:block;padding-top:.14rem;height:1rem;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;line-height:.4rem;}
.sxp_view_back span{width:.4rem;height:.4rem;display:block;background-image:url(../btViewIcon.png);background-repeat:no-repeat;background-size:.4rem 3.2rem;margin:0 auto;position:relative;}
.sxp_view_back span em{-webkit-text-size-adjust:none;position:absolute;top:-.1rem;right:-.18rem;width:.3rem;height:.3rem;line-height:.3rem;background:#E20001;color:#FFF;border-radius:50%;text-align:center;}
.sxp_view_back span em i{transform:scale(0.83);display:block;}
.sxp_view_back.sxp_view_back1 span{background-position:0 -.7rem;}
.sxp_view_back.sxp_view_back2 span{background-position:0 0;}
.sxp_view_back.sxp_view_back3 span{background-position:0 -2.1rem;}
.rePostIcon a,.post_imglist .faceBtn a{display:block;width:.6rem;height:.6rem;float:left;margin-right:.3rem;background-image:url(../btViewIcon.png);background-repeat:no-repeat;background-size:.6rem 4.8rem;text-indent:-9999px;}
.replyCom .fastpost .btn1{height:.6rem;line-height:.6rem;}
.rePostIcon a.faceBtn,.post_imglist .faceBtn a{background-position:0 -3.14rem;}
.post_imglist .faceBtn a{margin:.3rem auto 0;float:none;}
.rePostIcon a.itBtn{background-position:0 -4.2rem;}
	

		
/*----- clew con -----*/
	.clew_con { padding:10px; }
	.clew_con .tit {line-height:40px; font-size:14px; }
	.clew_con p { margin:10px 0; }
	.clew_con  .button {background:#3D98CF; border-radius:5px; display:inline-block; margin-left:6px; margin-top:3px; width:80px; height:26px; text-align: center; line-height:24px; color:#E9EFF3; box-shadow:1px 2px 2px rgba(0, 0, 0, 0.1); cursor: pointer; }
	.clew_con  .button:hover {background:#3094CF;}
/* ========post======= */
.post_from{padding:.2rem .2rem 1rem;}
.post_from li{margin-bottom:.2rem;}
.post_from li .textarea{float:left;}
.post_imglist li{width:.8rem;height:.8rem;float:right;position:relative;margin-left:.18rem;padding:12px;}
.post_imglist li.first a{background:url(../posttu.png) 0 0 no-repeat; background-size:.8rem .8rem; display:block;width:.8rem;height:.8rem;}
.post_imglist li.first a input{width:.8rem;height:.8rem;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.post_imglist li .del{position:absolute;top:-.1rem;right:-.1rem;width:.36rem;height:.36rem;}
.post_imglist li .del img{width:.36rem !important;height:.36rem !important;}
.post_imglist li .p_img img{width:1.2rem !important;height:1.2rem !important;}
.bt_btn{position:fixed;bottom:0;width:100%;}

.textarea{width:100%;border:solid #e4e4e4 1px;padding:.2rem;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;border-radius:2px;}
/* ========home shoucang list ======= */
.forumListTab{border-bottom:solid 1px #ebebeb;background:#FAFAFA;margin-bottom:.2rem;}
.forumListTab ul { width:100%;display:block;}
.forumListTab li{float:left;width:25%;}
.forumListTab li a{width:100%;display:block;text-align:center;white-space: nowrap;font-size:.28rem;height:.8rem;line-height:.8rem;}
.forumListTab li a.cur,.forumListTab li.a a{color:#E20001;border-bottom: solid 2px #E20001;}
/* ========home duihua list ======= */
.msgbox{padding:.3rem .3rem 1.2rem;}
.pb{border-top:solid 1px #ebebeb;border-bottom:solid 1px #ebebeb;background:#fff;margin-top:.2rem;position:relative;}
.friend_msg,.self_msg {padding:.1rem 0;position:relative;}
.friend_msg .avat,.self_msg .avat{width:.8rem;height:.8rem;border-radius:.1rem;overflow:hidden;position:absolute;top:.1rem;left:0;}
.self_msg .avat{right:0;left:auto;}
.friend_msg .avat img,.self_msg .avat img{width:.8rem;height:.8rem;}
.friend_msg .date,.self_msg .date {color:#ccc; font-size:.24rem;padding-top:.1rem;}
.self_msg .date {text-align:right;}
.self_msg{padding-right:1.1rem;margin:0;}
.friend_msg{padding-left:1.1rem;margin:0;}
.dialog_green .dialog_c,.dialog_white .dialog_c{background:#b2e866;border:solid 1px #73c215;padding:.2rem .25rem;border-radius:.1rem;color:#353535;line-height:.44rem;font-size:.28rem;position:relative;}
.dialog_white .dialog_c{border-color:#ccc;background:#fff;}
.dialog_green .dialog_c:after,.dialog_white .dialog_c:after{height:.2rem;width:.2rem;position: absolute;left: -.12rem;top:.32rem;background-color:#b2e866;border-left:solid 1px #6ab214;border-bottom:solid 1px #6ab214;content: "";-webkit-transform-origin: center center;-webkit-transform: rotate(45deg);z-index: 1;}
.dialog_white .dialog_c:after{left:auto;right: -.12rem;background-color:#fff;border:none;border-right:solid 1px #bbb;border-top:solid 1px #bbb;}
.pmform,.btViewpost{position:fixed;bottom:0;left:0;right:0;height:.7rem;background:#fff;border-top:solid 1px #ddd;padding:.15rem .3rem;z-index:99;}
.pmform .inp{width:78%;height:.7rem;}
.pmform .btn1{width:18%;height:.7rem;line-height:.7rem;}
/* ======== phone_dh ======= */
.phone_dh{height:.9rem;background:#fff;border-top:solid 1px #e4e4e4;position:fixed;width:100%;bottom:0;left:0;right:0;}
.phone_dh li{width:20%;float:left;position:relative;height:.96rem;}
.phone_dh li a{height:.9rem;line-height:.4rem;display:block;text-align:center;font-size:.24rem;padding-top:.06rem;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.phone_dh li span{width:.4rem;height:.4rem;display:block;margin:0 auto;background-image:url(../sxpnew_icon.png);background-repeat:no-repeat;background-size:.4rem 1.8rem;}
.phone_dh li .cur span{background-image:url(../sxpnew_icon_cur.png);background-repeat:no-repeat;background-size:.4rem 1.8rem;}
.phone_dh .phone_dh_home span{background-position:0 0;}
.phone_dh .btForum span{background-position:0 -.48rem;}
.phone_dh .btSearch span{background-position:0 -.95rem;}
.phone_dh .btPerson span{background-position:0 -1.4rem;}
.phone_dh .phone_dh_home.cur span{background-position:0 0;}
.phone_dh .btForum.cur span{background-position:0 -.48rem;}
.phone_dh .btSearch.cur span{background-position:0 -.95rem;}
.phone_dh .btPerson.cur span{background-position:0 -1.4rem;}
.phone_dh li a.btPost{width:1rem;height:1rem;border-radius:50%;margin:-.18rem .14rem 0 .14rem;text-indent:-9999px;background:#E20001 url(../iconEdit.png) center center no-repeat;background-size:100% auto;}
/* ==== forumSelect ==== */
.forumSelect ul{margin-top:.2rem;padding:0 .1rem;}
.forumSelect ul li{float:left;}
.forumSelect ul li a{display:block;padding:0 .2rem;background:#FFF;border-radius:.05rem;line-height:.68rem;margin:.1rem;white-space:nowrap;font-size:.24rem;border:solid 1px #DEDEDE;}
/* ==== viewShare ==== */
.sharebg { background: rgba(0, 0, 0, 0.6);}
.sxp_share { font-size: 14px; border-radius: 0; bottom: 0; left: 0; position: fixed; text-align: center; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); -webkit-transition: -webkit-transform 300ms; transition: transform 300ms ; width: 100%; z-index: 119; }
.am-modal-active { transform: translateY(0px);  -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0) }
.am-modal-out { z-index: 1109; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%) }
.sxp_share_h3 { background-color: #f8f8f8;color: #555;font-weight: normal;font-size: .28rem;line-height: .8rem;text-align: center; }
.sxp_share_h3::after { border-bottom: 1px solid #E6E6E6; content: ""; display: block; height: 0;width: 100%; }
.sxp_share_btn { color: #555;display: block; width: 100%; background-color: #F3F3F3; border-top: 1px solid #E6E6E6; border-radius: 0; cursor: pointer;  font-size: .28rem; font-weight:normal; line-height: .9rem; text-align: center; transition: background-color 300ms ease-out 0s, border-color 300ms ease-out 0s; vertical-align: middle; white-space: nowrap; }
#sxp_share_icon { background:#F8F8F8;}
#sxp_share_icon a {width: 25%;line-height: 1.7rem;height: 1.1rem;margin: .2rem 0;text-indent: 0;font-size:.24rem;color: #6D6D6D;}
#sxp_share_icon .bds_tsina {background-image: url(../weibo.png);background-position: center top;background-size: .7rem .7rem;}
#sxp_share_icon .bds_qzone {background-image: url(../qzone.png);background-position: center top;background-size: .7rem .7rem;}
#sxp_share_icon .bds_sqq {background-image: url(../qq.png);background-position: center top;background-size: .7rem .7rem;}
#sxp_share_icon .bds_tqq {background-image: url(../weixin.png);background-position: center top;background-size: .7rem .7rem;}

.popMask{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.7);display:none;text-align:right;z-index:9999999 !important;}
.popMask img{width:5.8rem;height:3.5rem;}
