/* =========================
Main CSS file for Discuz! Mobile
Powered by www.shangxuepai.com / www.lovediscuz.com
========================= */

body, dl, dt, dd, ul, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, optgroup, p, blockquote, figure, hr, menu, dir, thead, tbody, tfoot, th, td, i, span {margin:0; padding:0;}
ul, ol,li {list-style-type: none; list-style-image: none;}
/* --------------------- btn ---------------------- */
.btn1, .btn2, .btn3, .btn_pn, .btn_pn_grey, .btn4, .btn5, .btn_qqlogin a {width: 100%;font-size: .32rem;height: .8rem;line-height: .8rem;
text-align: center;color: #fff !important;background: #E20001;border: none;border-radius: 2px;display: block;box-sizing: border-box;
-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.btn2{background:#FFF1F1;color:#E20001 !important;}
.btn3{background:#f30;}
.btn4,.btn5{height:.7rem;line-height:.7rem;font-size:.28rem;width:4rem;margin:0 auto;}
.btn5{background:#ccc;color:#333 !important;}
.btn_pn{background:#E20001;}
.btn_pn_grey{background:#ddd;color:#bbb !important;}
.btn_qqlogin{}
.btn_qqlogin a{background:#69c url(../qq_login.png) 20% center no-repeat;background-size:contain;padding-left:1rem;}
/* --------------------- table ---------------------- */
table { width: 100%; border-collapse:collapse;border-spacing:0;}
img {border: 0 none;width: auto\9;height: auto;max-width: 100%;vertical-align: top;-ms-interpolation-mode: bicubic;}
button, input, select, textarea {font-family: inherit; font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button; cursor: pointer;}
/* --------------------- total ---------------------- */
.cfix:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden;}
a {text-decoration: none;color:#444;}
a:active,a:hover {outline: 0 none;}
body, button, input, select, textarea {font-family:'Microsoft Yahei', 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;-ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;}
b,strong {font-weight: bold;}
address,caption,cite,code,dfn,em,th,var,i{font-weight:normal; font-style:normal;}

.fl,.z{ float: left; }
.fr,.y{ float: right; }
h2 {display: block;font-size: 1.5em;}
.wp60{width:65%;}
.wp50{width:50%;}
.wp25{width:25%;}
.wp35{width:35%;}
.tac{text-align:center;}
#page{background:#f1f1f1;overflow:hidden;}
.mt10{margin-top:.1rem;}
.mb20{margin-bottom:.2rem !important;}
.mt20{margin-top:.2rem;}
.mt40{margin-top:.4rem;}
.cf00{color:#f00;}
.fs32{font-size:.32rem;}
.none { display:none; }
.clear { clear:both;}
.pipe {padding: 0 5px;color: #ccc;}
.ssxp_pt60{ padding-top:0px;}
.ssxp_pt100{ padding-top:35px;}


/* --------------------- web ---------------------- */
html, body {height: 100%;color:#666;background:#FFF;}
body {font-size:.28rem;line-height:1.8;}

/* --------------------- html5 ---------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
audio,canvas,video,progress {display: inline-block;vertical-align: baseline;}
/**/
.ssxp_sublist{ line-height:30px;}
.ssxp_sublist li{ height:30px; overflow:hidden; font-size:14px;}
/* --------------------- page ---------------------- */
.page { text-align:center; margin:20px 10px; }	 
.page a { border:1px solid #D7D7D7; border-radius:5px; padding:5px 9px; background:#FFF; } 
.page select{ border: 1px solid #CCC; height: 28px;}

	

	

		
	



	
	

	


	


