/* =========================
Main CSS file for Discuz! Mobile
Powered by www.shangxuepai.com / www.lovediscuz.com
========================= */




/* 头部 */
.header,.headermenu,.sxpnav {background:#336799;}
.header .menu5 { background:#568ABE;}

/* 统计 */
.sxp_tongji { border-color:#336799; }
.sxp_tongji li { background:#F4F7FA;color:#369;}

/* 版块 */
.catlist { border-color:#336799; }
.subforumshow { background:#F4F7FA;color:#369;border-bottom-color:#336799;}
.subforumshow h2 {  color:#369; }
.forum_a h3 .new_tie {  color:#C00; }

/* 悬浮导航 */
.phone_dh li a.btPost  { background-color:#336799; }
.phone_dh li .cur span { background-image: url(../sxpnew_icon_cur_blue.png);}

.sxp_view_back span em { background:#C00; }

/* 主题分类 分类导航 */
.sxpthread_type a.a { background:#336799; }
.forumListTab li a.cur, .forumListTab li.a a {color:#369;border-bottom-color:#336799; }

/* 按钮 */
.btn1, .btn_pn,.btn3,.btn4 { background:#336799; }
.btn_pn_grey { background: #ddd;}
.btn2 { background:#999;color:#fff !important;}

/* 个人中心 */
.user_avatar { background:#F4F7FA;}

/* 手机头条 */
.sxpmain_body {border-color:#336799;}
.sxpmain_body_h1 { background-color:#F4F7FA;border-bottom-color:#336799;}
.sxpmain_body_h1 h1 a { color:#69C; }
.sxpmain_body em {background:#336799;}

/* ======== forum index ======= */
body { background:#F1F1F1;}
.sxp_tongji { display:none;}
.container { margin-top: .2rem; padding: 0;}
.catlist{width:100%;margin-bottom:.2rem;background:#fff;border:0 none;}
	.subforumshow{height:.8rem;line-height:.8rem;background: -webkit-linear-gradient( top,#fff,#f4f4f4);background:-moz-linear-gradient( top,#fff,#f4f4f4); background: linear-gradient( top,#fff,#f4f4f4);border-bottom:solid 1px #eee;padding:0 .2rem;}
	.subforumshow h2{font-size:.36rem;font-weight:normal;color:#666;}
	.subforumshow .o{width:.8rem;height:.8rem;}
	.subforumshow .o img{width:100%;}
.sub_forum li{padding:.3rem .3rem .3rem 1.5rem;position:relative;border-bottom:solid 1px #eee;}
.sub_forum li .f_icon{width:1rem;position:relative;margin-left:-1.2rem;float:left;}
.sub_forum li .f_icon img{border-radius:.1rem;}
	.forum_a{display:block;}
	.forum_a h3{font-size:.32rem;/*font-weight:normal*/;line-height:.56rem;}
	.forum_a h3 .num,#ttp_all .num{font-size:.28rem;color:#f60;margin-left:.2rem;}
	.forum_a h3 .f_count{font-size:.24rem;color:#FFF;padding:0rem .1rem;border-radius:.1rem;background: #FF7700;line-height:.42rem;margin-top:.1rem;}
	.forum_a p{color:#999;font-size:.24rem;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;width:100%;}